* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #107abb;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
}

h2, p, ul {
  padding: 0;
  margin: 0;
}

.container {
  width: 832px;
  margin: 50px auto 0;
}

.board {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.column {
  width: 272px;
  background-color: #dee2e5;
  border-radius: 3px;
  padding: 12px 8px 10px;
}

.column__title {
  font-size: 14px;
  padding-left: 8px;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #1e3c4d;
}

.cards-list {
  min-height: 25px;
  list-style: none;
}

.card {
  position: relative;
  background-color: #ffffff;
  border-radius: 3px;
  padding: 8px;
  margin-bottom: 8px;
  box-shadow: 0 1px #abb5bd;
  cursor: grab;
}

.card__title {
  font-size: 14px;
  line-height: 1.4;
  color: #1e3c4d;
}

.card__remove-button {
  position: absolute;
  width: 19px;
  height: 19px;
  border-radius: 3px;
  background-color: #dee2e5; 
  font-size: 10px;
  font-weight: 700;
  text-align: center;
  line-height: 19px;
  color: #788b94;
  cursor: pointer;
  top: 3px;
  right: 3px;
  z-index: 10000;
}

.card__remove-button:hover {
  color: #1e3c4d;
}

.form__textarea {
  display: block;
  width: 100%;
  min-height: 70px;
  padding: 8px;
  margin-bottom: 8px;
  resize: vertical;
  border: none;
  border-radius: 3px;
  background-color: #ffffff;
  box-shadow: 0 1px #abb5bd;
  font-family: inherit;
  font-size: 14px;
  line-height: 1.4;
  color: #1e3c4d;
}

.form__textarea:focus {
  outline: 1px solid #61b8f1;
  outline-offset: -1px;
}

.form__control {
  display: flex;
  align-items: center;
}

.form__add-button {
  padding: 10px 14px;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  border: 1px solid transparent;
  border-radius: 3px;
  background-color: #5ca84d;
  box-shadow: 0 1px #487b34;
  cursor: pointer;
}

.form__add-button:hover {
  background-color: #3e8621;
}

.form__close-button {
  margin-left: 15px;
  font-weight: 700;
  color: #788b94;
  cursor: pointer;
}

.form__close-button:hover {
  color: #1e3c4d;
}

.column__show-button {
  display: flex;
  align-items: center;
  margin-top: 18px;
  font-size: 14px;
  color: #788b94;
  cursor: pointer;
}

.column__show-button-plus {
  margin-left: 4px;
  margin-right: 4px;
  font-size: 20px;
  line-height: 0;
}

.column__show-button:hover {
  color: #1e3c4d;
}

.hidden {
  display: none;
}

.dragged {
  position: absolute;
  list-style: none;
  transform: rotate(3deg);
  z-index: 10000;
  cursor: grabbing;
}

.card-new-place {
  border-radius: 3px;
  background-color: #ccd1d4;
  margin-bottom: 8px;
}
